
@{
    ViewBag.Title = "Index";
}
    <h1>你好</h1>
    <h2>hello</h2>
<form>
    帳號:<input type="text" name="account" /><br />
    密碼:<input type="password" /><br />
    年齡:<input type="number" /><br />
    性別:<input type="radio" name="gender"/>男生
       <input type="radio" name="gender" />女生
    <br />
    興趣:<input type="checkbox" name="read"/>看書
       <input type="checkbox" name="play"/>打遊戲
</form>